spring:
  application:
    name: demo
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://ep-crimson-tooth-ae7tg201-pooler.c-2.us-east-2.aws.neon.tech/neondb?sslmode=require}
    username: ${DATABASE_USERNAME:neondb_owner}
    password: ${DATABASE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
server:
  port: ${PORT:8080}
